html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  width: 960px;
  color: rgb(74,74,74);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.2rem;
}

video {
  width: 60%;
}

/*navigation section*/

.navigation {
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

#logo-colmar {
  font-weight: bold;
}

.navigation li {
  display: inline-block;
  margin-left: 16px;
  margin-right: 0px;
}

.navigation ul {
  margin-right: 24px;
}



/*banner section*/

.banner {
  background-color: #DCDCDC;
  display: flex;
  margin-bottom: 0px;
}

.banner-image {
}

.banner-content {
  padding-top: 5%;
  margin-right: 10%;
  }

.banner img {
  width: 90%;
  margin: 32px 24px;
}

.button {
  background-color: rgb(74,74,74);
  color: white;
  padding: 8px 0px;
  text-align: center;
}

.button:hover {
  background-color: #47e6ff;
}


/*first container section*/

.first-container {
  display: flex;
  background-color: #F5F5F5;
}

.first-container-left {
  width: 60%;
  padding: 32px 24px;
  border-right: 1px solid Gainsboro;
}

.first-container-left img {
  width: 100%;
}

.first-container-right {
  width: 40%;
  padding-top: 16px;
}

.callout img {
  width: 35%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  float: left;
}

.callout {
  height: 30%;
}

.callout:hover {
  background-color: Gainsboro;
}

/*special callout-campus rules */
.callout-campus {
  border-top: 3px solid Gainsboro;
  border-bottom: 3px solid Gainsboro;
}

.callout-campus img {
  width: 35%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  float: left;
}

.callout-campus {
  border-top: 3px solid Gainsboro;
  height: 30%;
}

.callout-campus:hover {
  background-color: Gainsboro;
}

/*start learning section*/

.start-learning {
  background-color: #DCDCDC;
  margin-bottom: 32px;
  padding-bottom: 50px;
  margin-top: 0px;
}

.start-learning h1 {
  padding-top: 32px;
  text-align: center;
  margin-bottom: 0px;
}

.all-programs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 72px;
  margin-right: 72px;
}

.program {
  margin: 5px;
  width: 250px;
}

.program img {
  width: 250px;
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 20px;
}

.start-learning h2 {
  margin-top: 0px;
}

.program-description {
  background-color: white;
  margin-top: 0px;
  padding: 16px;
  height: 50%;
}


/*thesis section*/

.thesis-exhibit {
  display: flex;
  flex-wrap: wrap;
  background-color: #F5F5F5;
  justify-content: center;
  padding-bottom: 32px;
}

.thesis-exhibit h1 {
  padding-top: 32px;
  text-align: center;
  margin-bottom: 0px;
  width: 100%;
}

.thesis-left {
  width: 60%;
  float: left;
}

.thesis-left video {
  padding-top: 32px;
  width: 95%;
}

.thesis-right {
  float: right;
  padding-left: 3px;
  padding-top: 32px;
}

.thesis-right img {
  width: 35%;
  height: auto;
  float: left;
  margin-right: 18px;
}

.callout-thesis img {
  width: 35%;
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 16px;
  padding-left: 16px;

}

.callout-thesis {
  height: 50%;
}

.callout-thesis:hover {
  background-color: Gainsboro;
}

/*footer section*/

footer {
  border-top: 1px solid Gainsboro;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  background: #F5F5F5;
  align-items: center;
}

footer li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
}

/* ---------------------------- MEDIA QUERIES ---------------------------- */

.navigation-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {


  .navigation {
    display: none;
  }

  .navigation-mobile {
    display: block;
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
  }

  .navigation-mobile img {
    height: 70%;
  }

  .banner {
    display: block;
  }

  .banner img {
    width: 100%;
    max-width: 480px;
    margin: 0px 0px;
  }

  .banner-content {
    max-width: 400px;
    padding-top: 2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
  }

  .button {
    width: 60%;
    background-color: #9b9b9b;
  }

  .button:active {
    background-color: #47e6ff;
  }

  .first-container-left {
    display: none;
  }

  .callout {
    display: block;
  }

  .callout img {
    width: 100%;
  }

  .image-desktop {
    display: none;
  }

  .image-mobile {
    margin-bottom: 16px;
  }

  .callout-campus {
    display: none;
  }




  .first-container-right img {
    max-width: 400px;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .first-container-right h2, p{
    margin-top: 16px;
    margin-left: 16px;
  }

  .callout:hover {
    background-color: #F5F5F5;
  }

  .start-learning {
    display: none;
  }

  .thesis-right {
    display: none;
  }

  .start-learning-mobile {
    max-width: 400px;
    margin-bottom:32px;
    margin-top: 32px;
    border-top: 2px solid #F5F5F5;
  }

  .start-learning-mobile h1 {
    text-align: center;
  }

  .start-learning-button {
    background-color: #F5F5F5;
    margin: 10px;
    padding: 16px 0px 24px 16px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .thesis-exhibit {
    display: none;
  }

  .thesis-exhibit-mobile {
    max-width: 400px;
    border-top: 2px solid #F5F5F5;
    margin-top: 32px;
  }

  .thesis-exhibit-mobile h1 {
    text-align: center;
  }



  .thesis-exhibit-mobile video {
    width: 100%;
    max-width: 480px;
  }


  } /* end media query */

@media only screen and (min-width: 480px) {
  .navigation-mobile {
    display: none;
  }

  .image-mobile {
    display: none;
  }

  .callout-mobile {
    display: none;
  }

  .start-learning-mobile {
    display: none;
  }

  .thesis-exhibit-mobile {
    display: none;
  }
